.header__wrap--btn {
  display: flex;
  gap: 20px;
  @include mobile {
    width: 336px;
    gap: 32px;
  }
  @include desktop {
    width: 310px;
    gap: 16px;
  }
}
.header__btn {
  display: block;
  @include item(1, 20px);

  padding: 12px 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--text-color-additional);
  background-color: transparent;
  box-shadow: var(--boxShadowButton);
}
.js-active {
  border: none;
  background-color: var(--background-color-accent);
}
