@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --background-color: #ffffff;
  --background-color-secondary: #ffffff;
  --background-color-accent: #ff6b08;
  --text-color-primary: #212121;
  --text-color-secondary: #ff6b08;
  --text-color-additional: #ffffff;
  --accent-color: #ff001b;
  --boxShadowButton: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }
}

.container--header {
  padding-top: 40px;
  padding-bottom: 44px;
}

.header {
  background-image: url(../images/abstract-background-with-red-lines\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  margin-right: 8px;
}

.logo__text {
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__text {
    display: block;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__link {
  display: block;
  color: inherit;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.navigation__link.current {
  cursor: pointer;
  position: relative;
}
.navigation__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #ff001b;
}

.navigation__btn {
  border: none;
  background-color: transparent;
  display: block;
  color: inherit;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.form {
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  border-bottom: 0.5px solid #ffffff;
}
@media screen and (min-width: 480px) {
  .form {
    width: 336px;
    padding-bottom: 4px;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    width: 394px;
    margin-bottom: 20px;
    padding-bottom: 4px;
  }
}

.form__query {
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 0;
  right: 0;
}

.wrong {
  color: #ff001b;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  visibility: hidden;
}

.visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.js-show {
  visibility: visible;
}

.is-hidden {
  display: none;
}

.watched-wrap {
  display: none;
}

.watched-wrap {
  width: 100%;
  display: flex;
  gap: 20px;
}

.watched__btn {
  display: inline-block;
  flex-basis: calc((100% - 0px) / 1);
  visibility: hidden;
  padding: 12px 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--text-color-additional);
  background-color: transparent;
  box-shadow: var(--boxShadowButton);
}
@media screen and (min-width: 768px) {
  .watched__btn {
    display: flex;
  }
}
.js-active {
  border: none;
  background-color: var(--background-color-accent);
}

section {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery {
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    min-width: 1280px;
    row-gap: 32px;
    margin-right: -32px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}

.gallery__card {
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 768px) {
  .gallery__card:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__card {
    margin-bottom: 0;
    flex-basis: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .gallery__card {
    flex-basis: calc((100% - 64px) / 3);
  }
}

.gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gallery__img-wrap {
  display: flex;
  overflow: hidden;
  height: 100%;
}

.gallery__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__img-wrap:hover .gallery__img {
  transform: scale(1.1);
}

.gallery__info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #ffffff;
}

.gallery__title {
  padding-top: 12px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.gallery__info {
  display: flex;
  color: var(--text-color-primary);
  padding-bottom: 5px;
}

.genres__list {
  display: flex;
  height: 20px;
  border-right: 1px solid var(--text-color-secondary);
  margin-right: 5px;
}

.gallery__genres {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--text-color-secondary);
  margin-right: 5px;
}

.gallery__year {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--text-color-secondary);
}

@media screen and (max-width: 479px) {
  p,
b {
    font-size: 3vw;
    line-height: 4.5vw;
  }
}
.pagination {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pagination_-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.pagination__item:not:last-child {
  margin-right: 8px;
}

.pagination__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  border-color: transparent;
}/*# sourceMappingURL=index.css.map */