<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/sass/index.scss" />
    <title>Document</title>
  </head>
  <body> -->
<header class="header header--main">
  <div class="container container--header">
    <nav class="navigation header__navigation">
      <a href="./index.html" lang="en" class="logo header__logo">
        <svg class="logo__icon" width="24" height="24">
          <use href="#"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item current">
          <a class="navigation__link current" href="#">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">my library</a>
        </li>
      </ul>
    </nav>
    <div>
      <form action="" name="subscribe" class="form">
        <input
          type="text"
          name="guery"
          placeholder="Movie search"
          class="form__query"
        />
        <button type="submit" class="form__button">
          <svg class="form__icon" width="24" height="24">
            <use href="#"></use>
          </svg>
        </button>
      </form>
      <p class="wrong">
        Search result not successful. Enter the correct movie name and
      </p>
    </div>
    <div class="watched-wrap">
      <button class="watched__btn">Watched</button>
      <button class="watched__btn">queue</button>
    </div>
  </div>
  <div class="switsh-wrap" style="text-align: right">
    <div class="switch-btn"></div>
  </div>
</header>
<section class="filmoteka">
  <div class="container">
    <ul class="gallery"></ul>
  </div>
</section>
<section class="pagination">
  <div class="container">
    <ul class="pagination_-list">
      <li class="pagination__item disabled">
        <a href="" class="href pagination__link"
          ><button class="pagination__button pagination__button--prev">
            prev
          </button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button">1</button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button">
            <span class="pagination__dots">...</span>
          </button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button">13</button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button">14</button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button js-active">15</button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button">16</button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button">17</button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button">
            <span class="pagination__dots">...</span>
          </button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button">20</button></a
        >
      </li>
      <li class="pagination__item">
        <a href="" class="href pagination__link"
          ><button class="pagination__button pagination__button--next">
            next
          </button></a
        >
      </li>
    </ul>
  </div>
</section>
<footer></footer>
<!-- <script type="module" src="/src/index.js"></script>
  </body>
</html> -->
